<!--#CODIGO CREADO POR LUIS MOYANO ESTUDIANTE DE IECI-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>vacunas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div class="container">
  <h2 align="center">Vacunatorio Coelemu</h2>
  <h3 align="left">Listado de vacunas</h3>
  
	<br>
  <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th>Enfermedad</th>
        <th>Fecha Registro</th>
        <th>pacientes Vacunados</th>
        <p align="left">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modalvacunas">
            Agregar Vacunas
          </button>  
        </p>
        <p align="right">
          <a href="/pacientes"><input type="button" value="Volver a pacientes"></a>
        </p>
        
        
      </tr>
    </thead>
    <tbody>
      {% for vacuna in vacunas %}
        <tr>
          <td>{{ vacuna['nombreenfermedad'] }}</td>
          <td>{{ vacuna['fechallegada'] }}</td>
          <td>
            <a  href="/pacientesconxvacuna/{{vacuna['nombreenfermedad']}}"value="submit">Ver</a>
          </td>
          
          
          
          
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!--CODIGO PARA AGREGAR VACUNAS-->
  <div class="modal fade" id="Modalvacunas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Porfavor Ingrese Datos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{{ url_for('insertarvacunas')}}" method="POST">


            <div class="form-group">


               <label>Nombre Vacuna:</label>
               <input type="text" class="form-control" name="nombreenfermedad" required="1">


            </div>


           



            <div class="form-group">


               <button class="btn btn-primary" type="submit">Agregar Vacuna</button>


            </div>


         </form>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          
        </div>
      </div>
    </div>
  </div>
  <!--FIN CODIGO PARA VACUNAS JEJE-->
</div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</script>
</html>
