<!--#CODIGO CREADO POR LUIS MOYANO ESTUDIANTE DE IECI-->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vacunatorio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>
<body>

<div class="container">
  <h2 align="center">Vacunatorio Coelemu</h2>
  <h3 align="left">Pacientes con la vacuna</h3>
  
	<br>
  <table class="table table-hover" id="myTable">
    <thead>
      <tr>
        <th>Nombre Paciente</th>
        <th>Rut Paciente</th>
        <th>Fecha Vacunacion</th>
        
        <p align="right">
            <a href="/listadovacunas"><input type="button" value="Volver"></a>
          </p>
        
        
      </tr>
    </thead>
    <tbody>
      {% for vacunas in vacunados %}
        <tr>
          <td>{{ vacunas['nombrepaciente'] }}</td>
          <td>{{ vacunas['rutpaciente'] }}</td>
          <td>{{ vacunas['fechavacuna'] }}</td>
          
         

          
          
          
        </tr>
      {% endfor %}
    </tbody>
  </table>

 
 
</div>

</body>
<script type="text/javascript">
  $(document).ready( function () {
    $('#myTable').DataTable();
  });
</script>


</html>
